{{#if message}}
  <p class="text-center text-danger">{{message}}</p>
{{/if}}

<main>
  {{#if authorized}}
    <h2>Welcome to MVC Example</h2>
    <p>Your store has been authorized.</p>
  {{else}}
    <h2>Connect Your Store</h2>
    <p>
      To start syncing your store's products, you'll need to connect your store to this app.
      <br>
      <a href="/auth">Connect Store Now</a>
    </p>
  {{/if}}
</main>
